<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>748332230046-afaqlssr690jpgu1gfc23d66egrb428n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.748332230046-afaqlssr690jpgu1gfc23d66egrb428n</string>
	<key>API_KEY</key>
	<string>AIzaSyDl8IBK9_JtpfabB4CWDNW2zS4wFKej2oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>748332230046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gvsu.cis.GVCourses</string>
	<key>PROJECT_ID</key>
	<string>gvcourses-d1938</string>
	<key>STORAGE_BUCKET</key>
	<string>gvcourses-d1938.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748332230046:ios:75f83da0fc1f00de87e28f</string>
</dict>
</plist>