//
//  Config.xcconfig
//  GVCourses
//
//  Created by Minh Tran on 01/10/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONTENTFUL_SPACE_ID=7739e7tgcdts
CONTENTFUL_ENVIRONMENT_ID=master
CONTENTFUL_ACCESS_TOKEN=GUM6fsI3CuBgHZJ7rafALZ4JXJrO1HhZBgTDxcz-3Oc
